#footer {
  background-color: #808080;
  height: 5vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

.button {
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  /* margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
  margin-bottom: 15px; */
  margin: 5px;
  width: 100px;
  height: 30px;
}

.button:hover {
  color: black;
  background-color: #FCE21B;
  cursor: pointer;
}

.button:focus {
  outline: none;
}