.mapPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 82vh;
  border: solid black 1px;
  margin-left: 10vw;
  margin-top: 50px;
}

.mapContainer {
  border: solid black 1px;
  margin-top: 15px;
  width: 90%;
  height: 90%;
  overflow: hidden;
  
}

.mapContainer:hover {
  cursor: grab;
}

.mapContainer:active {
  cursor: grabbing;
}

.stateFlag {
  z-index: 2;
}

.rsm-geography {
  outline: none;
  object-fit: contain;
}
