.mapPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* border: solid black 1px; */
}

.mapContainer {
  /* border: solid black 1px; */
  min-width: 100%;
  min-height: 100%;
  /* overflow: hidden; */
  
}

.mapContainer:hover {
  cursor: grab;
}

.mapContainer:active {
  cursor: grabbing;
}

.stateFlag {
  z-index: 2;
}

.rsm-geography {
  outline: none;
  object-fit: contain;
}
